[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dominic/Escritorio/xfce4]
row=5
col=0

[/home/dominic/Escritorio/yay]
row=4
col=0

[/home/dominic/Escritorio/WanderoS]
row=3
col=0

[E0E8-5E0F]
row=0
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/dominic]
row=2
col=0

